body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.instructions {
    font-size: 0.8em;
}

.clusters {
    margin: 0;
    padding: 0;
    list-style: none;
}

.clusters .cluster {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #CCC;
    overflow: hidden;
}

.clusters .cluster.processed {
    opacity: 0.5;
}

.clusters .cluster.processed .process {
    display: none;
}

.clusters .cluster .process {
    clear: both;
    width: 150px;
    text-align: center;
    margin: 0 5px;
    padding: 10px 0;
}

.clusters .image {
    float: left;
    width: 150px;
    text-align: center;
    margin: 0 5px;
}

.clusters .image img {
    max-width: 150px;
    max-height: 150px;
}

.clusters .image .caption {
    text-align: center;
    font-size: 0.8em;
}

.jobs {
    list-style: none;
    margin: 0;
    padding: 0;
}

.jobs .job {
    margin: 10px 0;
    padding: 5px;
    background: #F5FAFF;
}

.jobs .job.processed {
    opacity: 0.6;
    background: #FFF;
}

.jobs .job .title {
    font-weight: bold;
}

.jobs .job.processed .title {
    font-weight: normal;
    color: #999;
}

.jobs .job .extra {
    font-size: 0.8em;
}

.jobs .job .date {
    font-size: 0.8em;
}